$icon_size: 88rpx;

.container {
  position: fixed;
  bottom: 10vh;
  right: 2vw;
  display: flex;
  flex-direction: column;
  .icon {
    width: $icon_size;
    height: $icon_size;
    box-shadow: 0rpx 0rpx 8rpx #ccc;
    &:nth-child(1) {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
      animation: fadeRight 0.5s forwards;
    }
    &:nth-child(2) {
      margin-top: 16rpx;
      transform: translate3d(120%, 0, 0);
      transition: all ease-out 0.3s;
      &.visible {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

@keyframes fadeRight {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
