// 字数超过 n 行 省略号
@mixin word-line-ellipsis($lineNumber: 2) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineNumber;
}