.search {
  box-sizing: border-box;
  width: 100%;
  padding: 32rpx;
  .number {
    font-size: 24rpx;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: #141310;
    line-height: 32rpx;
    padding-left: 16rpx;
    box-sizing: border-box;
    margin-bottom: 40rpx;
  }
}