page{
  background-color: #ffffff;
}
$color:#968765;
.tag {
  padding:0 28rpx 0rpx 40rpx;
  width:100vw;
  box-sizing: border-box;
  padding-bottom:100rpx;
  &-head{
    height:120rpx;
    .head{
      background:#ffffff;
      position:fixed;
      padding:0 28rpx 0rpx 40rpx;
      box-sizing: border-box;
      left:0;
      top:0;
      width:100%;
      height:120rpx;
      display:flex;
      justify-content: space-between;
      align-items: center;
      &-title{
        font-size: 32rpx;
        font-weight: bold;
      }
      &-nav{
        font-size:24rpx;
        line-height:36rpx;
        margin-right: 10rpx;
        display: flex;
        align-items: center;
        &-icon{
          width: 36rpx;
          height: 36rpx;
        }
      }
    }
  }
  &-content{
    .cell{
      margin-bottom:20rpx;
      &-title{
        font-size: 30rpx;
        font-weight: bold;
        padding-bottom:16rpx;
        
      }
      &-child{
        padding:10rpx 0rpx 10rpx 10rpx;
        overflow: hidden;
        .item{
          display:inline-block;
          padding:0 23rpx;
          height:56rpx;
          line-height: 52rpx;
          margin:12rpx 24rpx 12rpx 0;
          font-size: 24rpx;
          color: $color;
          border: 1px solid $color;
          box-sizing: border-box;
          &.active{
            background: #332F27;
            border: 1px solid $color;
          }
        }
      }
    }
  }
  &-button{
    width:400rpx;
    height:64rpx;
    margin:0 auto;
    margin-top:80rpx;
    &.bottom{
      position:fixed;
      bottom:40rpx;
      left:50%;
      transform:translateX(-50%);
    }
  }
}