// 颜色
$text_color: #292929;
$bg_color: #f4f4f4;
$highlight_color: #e4780b;
$brand_color: #141310;

// 行为
$action_disable: #e5e5e5;

// 字体
$font_regular: PingFangSC-Regular, PingFang SC;
$font_bold: PingFangSC-Semibold, PingFang SC;
$font_medium: PingFangSC-Medium, PingFang SC;
$font_light: PingFangSC-Light, PingFang SC;

// 间距
$content_pd_x: 60rpx;

// 背景图
$bg_login: 'https://lacoste-wechat.oss-cn-shanghai.aliyuncs.com/image/cms/bg_login.jpg';
$bg_redeem: 'https://lacoste-wechat.oss-cn-shanghai.aliyuncs.com/image/cms/bg_redeem.jpg';
